@font-face {
    font-family: "kanit";
    src: url("./Kanit/Kanit-Regular.ttf");
  }
  
  body {
    font-family: "kanit";
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/6b/b4/12/6bb412d3e781eda8667b534d55e1ac0c.gif");
    background-size: cover;
  }
  
  .container {
    width: 100%;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    background-color:royalblue;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .header {
    color: yellow;
    font-size: 30px;
    text-align: center;
    
  }
  
  .header-form {
    width: 140px;
  }
  
  .flex {
    display: flex;
  }
  
  .form-input {
    margin-bottom: 10px;
  }
  
  .center {
    text-align: center;
  }
  
  input.form,
  textarea {
    border: 1px gainsboro solid;
    width: 100%;
  }
  
  .button {
    border: 0;
    width: 50%;
    height: 40px;
    background-color: rgb(255, 247, 0);
    color: black;
  }
  .message {
    background-color: pink;
    padding: 10px;
    margin-bottom: 10px;
    display: none;
  }
  .message.success {
    background-color: rgb(255, 255, 0);
    display: block;
  }

  .message.danger {
    background-color: rgb(255, 238, 0);
    display: block;
  }
  .ttt_user{
     background-color: rgb(248, 248, 3);
      padding: 10px;
      text-align: justify;
      text-decoration: none;
      display: block;
      max-width: 180px;
      width: 100%;
      box-sizing: border-box;
      border: 3px solid rgb(8, 75, 243);
      border-radius: 10px;
      font-size: 15px;
      font-weight: bold;
      margin-bottom: -40px;
      padding-top: 40px; 
      margin-top: 10px; 
      margin-left: -5px;
    }
   
  


   
      
      

  
  